
@font-face {
  font-family: 'Aileron-Bold';
  src: url('Aileron-Bold.eot?#iefix') format('embedded-opentype'),  url('Aileron-Bold.otf')  format('opentype'),
	     url('Aileron-Bold.woff') format('woff'), url('Aileron-Bold.ttf')  format('truetype'), url('Aileron-Bold.svg#Aileron-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
